@model Labs.Models.Car

<div class="container sm padding-0">
    <div class="card">
        <div class="card-header">
            <h1 class="h3 mb-3 font-weight-normal">Автомобиль @Model.Mark @Model.Model</h1>
        </div>
        <div class="card-body row">
            <div class="col-md-6">
                <img class="img-fluid" src="@Url.Action("GetImage", "Car", new { Model.Id })" />
            </div>
            <div class="col-md-6">
                <dl>
                    <div class="row">
                        <dt class="col-md-4">Марка</dt>
                        <dd class="col">@Html.DisplayFor(model => model.Mark)</dd>
                    </div>

                    <div class="row">
                        <dt class="col-md-4">Модель</dt>
                        <dd class="col">@Html.DisplayFor(model => model.Model)</dd>
                    </div>

                    <div class="row">
                        <dt class="col-md-4">Цвет</dt>
                        <dd class="col">@Html.DisplayFor(model => model.Color)</dd>
                    </div>

                    <div class="row">
                        <dt class="col-md-4">Номер</dt>
                        <dd class="col">@Html.DisplayFor(model => model.Goverment_number)</dd>
                    </div>

                    <div class="row">
                        <dt class="col-md-4">Год выпуска</dt>
                        <dd class="col">@Html.DisplayFor(model => model.Year)</dd>
                    </div>

                    <div class="row">
                        <dt class="col-md-4">Страна</dt>
                        <dd class="col">@Html.DisplayFor(model => model.country)</dd>
                    </div>

                    <div class="row">
                        <dt class="col-md-4">Город</dt>
                        <dd class="col">@Html.DisplayFor(model => model.city)</dd>
                    </div>
                </dl>
            </div>
            <div class="col-md-6" style="margin-top: 15px;">

                <a class="btn btn-primary" asp-controller="Sale" asp-action="Create" asp-route-id_c="@Model.Id">Аренда</a>
                <a class="btn btn-primary-dark" href='javascript:history.go(-1)'>Назад</a>
            </div>
        </div>
    </div>
</div>