@model IEnumerable<Labs.Models.Car>
@{
    ViewBag.Title = "Список машин";
}
<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Марка: </label>
        <input name="mark" class="form-control" />

        <label class="control-label">Цвет: </label>
        <input name="color" class="form-control" />

        <label class="control-label">Год: </label>
        <input type="number" name="year" class="form-control" />

        <input type="submit" value="Поиск" class="btn btn-sm btn-primary" />
    </div>
</form>

<table class="table">
    <tr><th>Фото</th><th>Марка</th><th>Модель</th><th>Цена/час</th></tr>
    @foreach (var car in Model)
    {
        <tr>
            <td>
                <img class="imgcar2" onclick="@Url.Action("Details", "Car", new { id=car.Id })" src="@Url.Action("GetImage", "Car", new { id=car.Id })" />
            </td>
            <td>@car.Mark</td>
            <td>@car.Model</td>
            <td>@car.Price</td>
            <td>
                <a class="btn btn-sm btn-primary btndetails" asp-controller="Car" asp-action="Details" asp-route-id="@car.Id">Подробности</a>
            </td>

        </tr>

    }
</table>