@model IEnumerable<Labs.Models.Car>
@{ ViewBag.Title = "Список машин"; }

@* var id = model.Id; //if you want to pass an Id parameter
    window.location.href = '@Url.Action("Action", "Controller")/' + id; *@

<div class="container">
    <div class="row">
        <div class="search-menu h-75 col-md-3">
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="/resources/demos/style.css">
            <form method="get">
                <div class="form-group">
                    <label class="control-label">Марка</label>
                    <select name="mark" id="mark" asp-items="ViewBag.Marks" class="form-control"></select>
                </div>

                <div class="form-group">
                    <label for="rangeamountprice" class="control-label">Цена:</label>
                    <input type="text" id="rangeamountprice" readonly style="border:0; color:#f6931f; font-weight:bold;" class="control-label">
                    <input type="hidden" id="price1" name="price1">
                    <input type="hidden" id="price2" name="price2">
                </div>
                <div class="form-group">
                    <div id="slider-range-price" class="control-label"></div>
                </div>


                <div class="form-group">
                    <label for="rangeamountyear" class="control-label">Год:</label>
                    <input type="text" id="rangeamountyear" readonly style="border:0; color:#f6931f; font-weight:bold;" class="control-label">
                    <input type="hidden" id="year1" name="year1">
                    <input type="hidden" id="year2" name="year2">
                </div>
                <div class="form-group">
                    <div id="slider-range-year" class="control-label"></div>
                </div>

                <div class="form-group button-group">
                    <input id="sss" type="submit" value="Поиск" class="btn btn-sm btn-primary-light" />
                    <a asp-controller="Car" asp-action="Index" class="btn btn-sm btn-primary-dark">Отмена</a>
                </div>
            </form>
        </div>

        <div class="col-md-8">
            @foreach (var car in Model)
            {
<div class="card car" onclick="details(@car.Id)">
    <div class="card-body row">
        <div class="col-md-4">
            <img src="@Url.Action("GetImage", "Car", new { id=car.Id })" />
        </div>
        <div class="col-md-5">
            <h4 class="card-title">@car.Mark @car.Model</h4>
        </div>
        <div class="col-md-3">
            <p>Цена/час</p>
            <h1 style="display: inline;">@car.Price</h1>
            <h4 style="display: inline;">BYN</h4>
        </div>
    </div>
</div>      }
        </div>
    </div>
    @section scripts{
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript">
            function details(id)
                {
                    window.location.href='@Url.Action("Details", "Car")/'  +  id;
                }
        </script>


        <script>
            window.$_GET = new URLSearchParams(location.search);
            var price1 = $_GET.get('price1');
            if (price1 == undefined) price1 = "0";
            var price2 = $_GET.get('price2');
            if (price2 == undefined) price2 = "30";
            var year1 = $_GET.get('year1');
            if (year1 == undefined) year1 = "1950";
            var year2 = $_GET.get('year2');
            if (year2 == undefined) year2 = "2020";
            var mark = $_GET.get('mark');
            if (mark == undefined) mark = "Все";
            var selectmark = document.getElementById("mark");
            selectmark.value = mark;
            $(function ()     //Настраиваем слайдер с ценой
            {
                $("#slider-range-price").slider({
                    range: true,
                    min: 0,
                    max: 30,
                    values: [price1, price2],
                    slide: function (event, ui) {
                        $("#rangeamountprice").val(ui.values[0] + " - " + ui.values[1]);
                        $("#price1").val(ui.values[0]);
                        $("#price2").val(ui.values[1]);
                    }
                });
                $("#rangeamountprice").val($("#slider-range-price").slider("values", 0) + " - " + $("#slider-range-price").slider("values", 1));
                $("#price1").val($("#slider-range-price").slider("values", 0));
                $("#price2").val($("#slider-range-price").slider("values", 1));
            });

            $(function () {                    //Настраиваем слайдер с годо
                $().get()
                $("#slider-range-year").slider({
                    range: true,
                    min: 1950,
                    max: 2020,
                    values: [year1, year2],
                    slide: function (event, ui) {
                        $("#rangeamountyear").val(ui.values[0] + " - " + ui.values[1]);
                        $("#year1").val(ui.values[0]);
                        $("#year2").val(ui.values[1]);
                    }
                });
                $("#rangeamountyear").val($("#slider-range-year").slider("values", 0) + " - " + $("#slider-range-year").slider("values", 1));
                $("#year1").val($("#slider-range-year").slider("values", 0));
                $("#year2").val($("#slider-range-year").slider("values", 1));
            });
        </script>
    }
</div>