@model IEnumerable<Labs.Models.Car>
@{
    ViewBag.Title = "Список машин";
}
<form method="get">
    <div class="form-inline form-group">
        <div style="margin-right:2px">
            <label class="control-label">Марка: </label>
            <select name="mark" asp-items="ViewBag.Marks" class="form-control"></select>
        </div>
        <div style="margin-right:2px">
            <label class="control-label">Min Год: </label>
            <input type="number" name="yearmin" class="form-control" />
        </div>
        <div style="margin-right:2px">
            <label class="control-label">Max Год: </label>
            <input type="number" name="yearmax" class="form-control" />
        </div>
        <div style="margin-right:2px; padding-top:10px">
            <input type="submit" value="Поиск" class="btn btn-sm btn-primary" />
        </div>
        <div style="margin-right:2px; padding-top:10px">
            <a asp-controller="Car" asp-action="Index" class="btn  btn-sm btn-primary">Отмена</a>
        </div>
        </div>
</form>

<table class="table">
    <tr><th>Фото</th><th>Марка</th><th>Модель</th><th>Цена/час</th></tr>
    @foreach (var car in Model)
    {
        <tr>
            <td>
                <img class="imgcar2" onclick="@Url.Action("Details", "Car", new { id=car.Id })" src="@Url.Action("GetImage", "Car", new { id=car.Id })" />
            </td>
            <td>@car.Mark</td>
            <td>@car.Model</td>
            <td>@car.Price</td>
            <td>
                <a class="btn btn-sm btn-primary btndetails" asp-controller="Car" asp-action="Details" asp-route-id="@car.Id">Подробности</a>
            </td>

        </tr>

    }
</table>