@model Labs.ViewModels.EditSaleViewModel
@{ ViewBag.Title = "Изменить аренду"; }

<div class="container sm">
    <div class="container">
        <form asp-action="Edit" asp-controller="Sale">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Редактирование данных аренды</h1>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="id_car" value="@Model.id_car" />
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="hidden" asp-for="id_client" value=@Model.id_client />
            <input type="hidden" asp-for="status" value=@Model.status />

            <div class="form-group">
                <label class="control-label">Стоимость аренды/час = @Model.rentprice</label>
                <input type="hidden" asp-for="rentprice" value="@Model.rentprice" class="form-control" id="rentprice" />
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="date2" class="control-label">Начало аренды</label>
                    <input type="datetime-local" asp-for="date2" class="form-control" id="inputdate2" value="@Model.date2.ToString("yyyy-MM-ddTHH:mm")" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="date3" class="control-label">Окончание аренды</label>
                    <input type="datetime-local" asp-for="date3" class="form-control" id="inputdate3" value="@Model.date3.ToString("yyyy-MM-ddTHH:mm")" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Сумма к оплате</label>
                <input type="number" asp-for="summ" class="form-control" id="summ" step="0.01" readonly />
            </div>

            <div class="form-group button-group">
                <input type="submit" value="Изменить" class="btn btn-primary" id="addbtn"/>
                <a href='javascript:history.go(-1)' class="btn btn-primary-dark">Отмена</a>
            </div>
        </form>

        @section scripts{
            <script type="text/javascript">

                function diffDates(day_one, day_two) {
                    return (day_one - day_two) / (60 * 60 * 1000);
                };

                var rounded = function (number)
                {
                    return +number.toFixed(2);
                }


                Number.prototype.AddZero = function (b, c) {
                    var l = (String(b || 10).length - String(this).length) + 1;
                    return l > 0 ? new Array(l).join(c || '0') + this : this;
                };

                var summ = document.getElementById("summ");
                var rentprice = document.getElementById("rentprice");
                var addbtn = document.getElementById("addbtn");
                inputdate2.addEventListener("change", function (e) {
                    if (new Date(inputdate2.value) > new Date(inputdate3.value)) {
                        summ.value = -1;
                        addbtn.disabled = true;

                    }
                    else {
                        summ.value = rounded(diffDates(new Date(inputdate3.value).setMinutes(0), new Date(inputdate2.value).setMinutes(0)) * rentprice.value);
                        addbtn.disabled = false;
                    }
                }, false);
                inputdate3.addEventListener("change", function (e) {
                    if (new Date(inputdate2.value) > new Date(inputdate3.value)) {
                        summ.value = -1;
                        addbtn.disabled = true;
                    }
                    else {
                        summ.value = rounded(diffDates(new Date(inputdate3.value).setMinutes(0), new Date(inputdate2.value).setMinutes(0)) * rentprice.value);
                        addbtn.disabled = false;
                    }
                }, false);
            </script>
        }
    </div>
</div>