@model IEnumerable<Labs.Models.Sale>
@{ ViewBag.Title = "Список заказов"; }

<div class="container" style="padding-bottom: 15px;">
    @if (Model.Count() == 0)
    {
<h1 class="h3 mb-3 font-weight-normal">Нет заказов.</h1> }
else
{
<table class="table">
    <tr><th>ID Клиента</th><th>ID машины</th><th>Начало аренды</th><th>Конец аренды</th><th>Цена</th><th>Статус</th></tr>
    @foreach (var sale in Model)
    {
<tr>
    <td> <a asp-controller="Client" asp-action="Details" asp-route-id="@sale.id_client">@sale.id_client</a></td>
    <td> <a asp-controller="Car" asp-action="Details" asp-route-id="@sale.id_car"><img class="imgcar2" src="@Url.Action("GetImage", "Car", new { id=sale.id_car})" /></a></td>
    <td>@sale.date2.ToString("dd-MM-yyyy HH:mm")</td>
    <td>@sale.date3.ToString("dd-MM-yyyy HH:mm")</td>
    <td>@sale.summ</td>
    <td>@sale.status</td>
    <td>
        @if (sale.status == "Отменён")
        {
<a class="btn btn-sm btn-danger" asp-controller="Sale" asp-action="Delete" asp-route-id_sale="@sale.Id">Удалить</a>}
        @if (sale.status == "Оплачен")
        {
<a class="btn btn-sm btn-primary" asp-controller="Sale" asp-action="Confirm" asp-route-id_sale="@sale.Id">Подтвердить</a>}

    </td>
</tr>}
</table>}

    <div class="col-md-6" style="margin-top: 15px;">
        <a class="btn btn-primary-dark" href='javascript:history.go(-1)'>Назад</a>
    </div>

</div>
@section scripts{
    <script type="text/javascript">
            function details(id) { window.location.href='@Url.Action("Details", "Car")/'  +  id; }
    </script>
}