@model IEnumerable<Labs.Models.Sales>
@{
    ViewBag.Title = "Список заказов";
}

<a  asp-controller="Car" asp-action="Index">Добавить заказ</a>

<table class="table">
    <tr><th>ID Клиента</th><th>ID машины</th><th>Начало аренды</th><th>Конец аренды</th><th>Цена</th></tr>
    @foreach (var sale in Model)
    {
        <tr>
            <td>@sale.id_client</td>
            <td>@sale.id_car</td>
            <td>@sale.date2.ToShortDateString()</td>
            <td>@sale.date3.ToShortDateString()</td>
            <td>@sale.price</td>
            <td>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@sale.Id">Удалить</a>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@sale.Id">Изменить</a>
            </td>
        </tr>
    }
</table>